<ion-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-assertive"><a
            class="button button-icon icon ion-close-round" href="#/claims"></a>
        <h1 class="title">Adjust Claim</h1>
    </ion-header-bar>
    <ion-content class="has-footer">
        <div class="list">
            <div class="item">
                <strong>Process Id</strong><br>{{vm.claim.processId}}
            </div>
            <div class="item">
                <strong>Stated Value</strong><br>{{vm.claim.statedValue | currency}}
            </div>
            <!--<label class="item item-input item-stacked-label"> <span class="input-label"><strong>Adjusted Value</strong></span>-->
                <!--<input type="text" placeholder="$XX.XX" ng-model="vm.adjustedValue">-->
            <!--</label>-->
            <!--<div class="item">-->
                <!--<label class="item item-input item-stacked-label"> <span class="input-label">Add Comment</span>-->
                    <!--<textarea type="textarea" ng-model="vm.comment"></textarea></label>-->
            <!--</div>-->
        </div>
        <div class="button-bar">
            <!--<a class="button button-assertive" ng-disabled="!vm.adjustedValue" ng-click="vm.deny()"-->
               <!--href="#/claims">Deny</a> -->
            <!--<a class="button button-assertive" ng-disabled="!vm.adjustedValue"-->
                                           <!--ng-click="vm.incomplete()" href="#/claims">Incomplete</a> -->
            <!--<a class="button button-assertive" ng-disabled="!vm.adjustedValue"-->
                <!--ng-click="vm.approve()">Approve</a>-->

            <a class="button button-assertive" ng-click="vm.incompleteClaim()">InComplete</a>
            <a class="button button-assertive" ng-click="vm.completeClaim()">Complete</a>
        </div>
    </ion-content>
</ion-view>